<!DOCTYPE html>

<html lang='pt-br'>

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <meta name='theme-color' content='#d9272e' />
    <meta charset='UTF-8' />
    <meta content='width=device-width, initial-scale=0.8' name='viewport' />
    <title>@ViewData["Title"] - Files upload</title>
    <link rel='shortcut icon' href="~/img/favicon.png" type='image/x-icon' />
    <link rel="stylesheet" href="~/css/site.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
</head>

<body>

    <div class='container_header'>
        <div class='logo flex'>
            <div></div>
        </div>
        <div class='menu'>
            <div class='category'>DOCUMENTOS</div>
            <a class='list' asp-controller="Document" asp-action="Index">
                <i class='material-icons'>description</i>
                <span>Home</span>
            </a>
            <a class='list' asp-controller="Document" asp-action="Create">
                <i class='material-icons'>note_add</i>
                <span>Criar</span>
            </a>
            <a class='list inactive'>
                <i class='material-icons'>edit_document</i>
                <span>Editar</span>
            </a>
            <a class='list inactive'>
                <i class='material-icons'>delete</i>
                <span>Excluir</span>
            </a>

            <div class='category'>TECNOLOGIAS</div>
            <a class='list inactive'>
                <i class='material-icons'>code</i>
                <span>.NET Core 3.1</span>
            </a>
            <a class='list inactive'>
                <i class='material-icons'>source</i>
                <span>ASP.NET Core MVC</span>
            </a>
            <a class='list inactive'>
                <i class='material-icons'>storage</i>
                <span>SQL Server</span>
            </a>
        </div>
        <div class='user'>
            <div class='image'></div>
            <div class='info'>
                <div>Criado por</div>
                <a>Matheus Bonadio</a>
            </div>
        </div>
    </div>

    <div class='container_render'>
        @RenderBody()
    </div>

</body>

@RenderSection("Scripts", required: false)

</html>